@use "_vars" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
input,
textarea {
  font-family: inherit;
  font-weight: normal;
}

a:visited {
  color: inherit;
}

button {
  cursor: pointer;
}

img,
svg,
picture {
  max-width: 100%;
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

body {
  line-height: 1.5;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
