@use "_vars" as *;

.dark-theme {
  background-color: $bgColorDark;
  color: $textColorLight;

  .navbar {
    background-color: $bgColorDark;
  }

  .hamburger {
    .bar {
      background-color: $bgColorLight;
    }
  }

  .hamburger-menu {
    background-color: rgba($color: #000000, $alpha: 0.9);
  }

  .hamburger-menu,
  .menu {
    a {
      color: $textColorLight;
    }
  }

  .social-media-group {
    .icon {
      color: $textColorLight;
    }

    svg {
      fill: $textColorLight;
    }

    .resume-btn {
      background-color: $bgColorLight;
      color: $textColorDark;
    }
  }

  .about-section {
    background-color: #0c0c0c;
  }

  .project-container {
    box-shadow: 0 0em 1em rgba($color: $bgColorLight, $alpha: 0.2);

    .project-image {
      border: 3px solid $bgColorLight;
    }

    button {
      background-color: $bgColorLight;
      color: $textColorDark;
    }
  }

  #form .submit-btn {
    background-color: $bgColorLight;
    color: $textColorDark;
  }
}

.light-theme {
  background-color: $bgColorLight;
  color: $textColorDark;

  .navbar {
    background-color: $bgColorLight;
  }

  .hamburger {
    .bar {
      background-color: $bgColorDark;
    }
  }

  .hamburger-menu {
    background-color: rgba($color: $bgColorLight, $alpha: 0.9);
  }

  .hamburger-menu,
  .menu {
    a {
      color: $textColorDark;
    }
  }

  .social-media-group {
    .icon {
      color: $textColorDark;
    }

    svg {
      fill: $textColorDark;
    }

    .resume-btn {
      background-color: $bgColorDark;
      color: $textColorLight;
    }
  }

  .about-section {
    background-color: #efeded;
  }

  .project-container {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .project-image {
      border: 3px solid $bgColorDark;
    }

    button {
      background-color: $bgColorDark;
      color: $textColorLight;
    }
  }

  #form .submit-btn {
    background-color: $bgColorDark;
    color: $textColorLight;
  }
}
