/* Fredoka One */
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
/* Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

// Colors
$primaryColor: #ff7a00;
$bgColorDark: #000;
$bgColorLight: #fff;
$textColorLight: #fff;
$textColorDark: #000;

// Font
@mixin displayFont() {
  font-family: "Fredoka One", cursive;
  font-weight: bold;
}

@mixin mainFont() {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}
