@use "_vars" as *;
@use "_reset";

html {
  scroll-behavior: smooth;
}

// theme classes
.dark-theme {
  background-color: $bgColorDark;
  color: $textColorLight;

  .navbar {
    background-color: $bgColorDark;
  }

  .hamburger {
    .bar {
      background-color: $bgColorLight;
    }
  }

  .hamburger-menu {
    background-color: rgba($color: #000000, $alpha: 0.9);
  }

  .hamburger-menu,
  .menu {
    a {
      color: $textColorLight;
    }
  }

  .social-media-group {
    .icon {
      color: $textColorLight;
    }

    svg {
      fill: $textColorLight;
    }

    .resume-btn {
      background-color: $bgColorLight;
      color: $textColorDark;
    }
  }

  .project-container {
    box-shadow: 0 0em 1em rgba($color: $bgColorLight, $alpha: 0.2);

    .project-image {
      border: 3px solid $bgColorLight;
    }

    button {
      background-color: $bgColorLight;
      color: $textColorDark;
    }
  }
}
// theme classes
.light-theme {
  background-color: $bgColorLight;
  color: $textColorDark;

  .navbar {
    background-color: $bgColorLight;
  }

  .hamburger {
    .bar {
      background-color: $bgColorDark;
    }
  }

  .hamburger-menu {
    background-color: rgba($color: $bgColorLight, $alpha: 0.9);
  }

  .hamburger-menu,
  .menu {
    a {
      color: $textColorDark;
    }
  }

  .social-media-group {
    .icon {
      color: $textColorDark;
    }

    svg {
      fill: $textColorDark;
    }

    .resume-btn {
      background-color: $bgColorDark;
      color: $textColorLight;
    }
  }

  .project-container {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .project-image {
      border: 3px solid $bgColorDark;
    }

    button {
      background-color: $bgColorDark;
      color: $textColorLight;
    }
  }
}
//

.wrapper {
  min-height: 100dvh;
  overflow-x: hidden;
  @include mainFont;
  gap: 5em;
}

.home-section {
  height: 100dvh;
  align-content: center;

  .navbar {
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .theme-switcher {
      border-radius: 1.2em;
      position: relative;
      padding: 0.5em 0.6em;
      background-color: #535353;
      align-items: center;
      gap: 0.3em;
      cursor: pointer;
      border: none;
      outline: none;

      i {
        display: inline;
        margin-inline: 0.1em;
        color: #fff;
      }

      .switch-ball {
        width: 1.3em;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: white;
        transition: left 0.2s;
      }
    }

    .menu,
    .hamburger-menu {
      @include displayFont;
      font-size: 1.6rem;
      transition: color 0.5s;

      a {
        text-decoration: none;
      }
    }

    .hamburger-menu {
      position: fixed;
      right: -100%;
      justify-items: start;
      align-content: start;
      padding: 4em 2em;
      top: 0;
      gap: 2em;
      height: 100%;
      width: 60%;
      transition: right 0.5s;
    }

    .hamburger-menu.active {
      right: 0;
    }

    .menu {
      display: none;
    }

    .hamburger {
      cursor: pointer;
      align-content: space-between;
      z-index: 1;
      width: 2.2em;
      height: 1.5em;

      .bar {
        height: 0.25em;
        border-radius: 3px;
        transition: transform 0.3s, height 0.3s;
      }
    }

    .hamburger.active {
      .bar:first-of-type {
        transform: rotate(45deg) translate(0.1em, 0.8em);
      }

      .bar:nth-of-type(2) {
        height: 0;
      }

      .bar:last-of-type {
        transform: rotate(-45deg) translate(0.1em, -0.8em);
      }
    }
  }

  .welcome-page {
    justify-items: center;

    h1 {
      font-size: 1.3rem;
      font-weight: bold;
    }

    .bar {
      height: 0.8em;
      width: min(90%, 38em);
      background-color: $primaryColor;
      border-radius: 3px;
      margin: 1.5em 0;
    }

    .social-media-group {
      align-items: center;
      justify-content: center;
      gap: 1em;
      grid-auto-flow: column;

      .icon {
        font-size: 1.5rem;
        cursor: pointer;
      }

      svg {
        cursor: pointer;
        width: 1.5rem;
      }

      .resume-btn {
        padding: 0.5em 1em;
        border-radius: 0.5em;
        font-weight: bold;
        font-size: 1.2rem;
        cursor: pointer;
        border: none;
        transition: background-color, color 0.5s;
        grid-column: 1 / 6;
        grid-row: 2;
        justify-self: center;
      }
    }
  }
}

.projects-section {
  justify-items: center;

  h1 {
    @include displayFont;
    margin-bottom: 1.5em;
    color: $primaryColor;
  }

  .projects-container {
    gap: 2em;
    width: 90%;
    align-items: start;

    .project-container {
      gap: 1em;
      padding: 1em;
      border-radius: 1rem;

      .project-image {
        width: 100%;
        border-radius: 0.5rem;
      }

      .project-desc {
        text-align: left;
      }

      .button-group {
        gap: 0.5em;
        justify-content: right;

        button {
          padding: 0.5em 1em;
          font-size: 1rem;
          font-weight: bold;
          border-radius: 8px;
          cursor: pointer;
          border: none;
          transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;

          i {
            margin-right: 0.5em;
          }
        }
      }
    }
  }
}

.contact-section {
  background-color: $primaryColor;
  gap: 0.5em;
  justify-items: center;
  color: #fff;
  padding: 1em;
  border-radius: 0.5em 0.5em 0 0;

  h1 {
    text-align: center;
    @include displayFont;
  }

  ul li {
    margin: 0.5em 0;
    font-size: 1rem;
    font-weight: bold;
  }
}

// Tablet Design
@media (min-width: 720px) {
  .home-section {
    .navbar {
      padding: 2em 4em;

      .menu {
        display: flex;
        gap: 2em;
      }

      .hamburger-menu,
      .hamburger {
        display: none;
      }
    }

    .welcome-page {
      h1 {
        font-size: 2rem;
      }

      .social-media-group {
        gap: 1.5em;

        .icon {
          font-size: 2rem;
        }

        svg {
          width: 2rem;
        }

        .resume-btn {
          font-size: 1.5rem;
          grid-column: unset;
          grid-row: unset;
        }
      }
    }
  }

  .projects-section {
    max-width: 1280px;
    margin-inline: auto;

    h1 {
      font-size: 2.5rem;
    }

    .projects-container {
      .project-container {
        padding: 2em;

        .project-desc {
          font-size: 1.5rem;
        }

        .button-group {
          gap: 1.5em;

          button {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .contact-section {
    border-radius: 1em 1em 0 0;

    ul {
      display: flex;
      justify-content: space-around;
      width: 90%;

      li {
        font-size: 1.5rem;
      }
    }

    h1 {
      font-size: 2.5rem;
    }
  }
}

// Desktop Design
@media screen and (min-width: 1080px) {
  .home-section {
    .navbar {
      .menu .link-item {
        transition: color 0.3s;
      }

      .menu .link-item:hover {
        color: $primaryColor;
      }
    }

    .welcome-page {
      .social-media-group {
        .icon,
        .resume-btn {
          transition: color 0.3s;
        }

        svg {
          transition: fill 0.3s;
        }

        .resume-btn {
          transition: background-color 0.3s, transform 0.3s;
        }

        .icon:hover {
          color: $primaryColor;
        }

        svg:hover {
          fill: $primaryColor;
        }

        .resume-btn:hover {
          background-color: $primaryColor;
          color: $textColorLight;
          box-shadow: 0 0.5em 0.5em -0.1em rgba($color: $primaryColor, $alpha:
                0.4);
          transform: translateY(-0.15em);
        }
      }
    }
  }

  .projects-section {
    .projects-container {
      grid-template-columns: auto auto;
      gap: 4em;

      .project-container {
        border-radius: 1.5rem;
        padding: 2em;

        .button-group {
          button {
            transition: box-shadow 0.3s, color 0.3s;
          }

          button:hover {
            box-shadow: inset 0 0 0 2em $primaryColor;
            color: $textColorLight;
          }
        }
      }
    }
  }
}
